########################################
# PostgreSQL
########################################

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

########################################
# Redis
########################################

REDIS_PORT=

########################################
# ChromaDB
########################################

CHROMA_PORT=

########################################
# Ollama
########################################

OLLAMA_PORT=

########################################
# Langfuse
########################################

LANGFUSE_PORT=